.main-base {
  /* background: blue; */
  max-width: 1280px;
  max-height: 720px;
  width: min(100vw, 1280px);
  height: min(100vh, 720px);

  display: flex;
  text-align: center;
}
.main-content {
  width: 100%;
  height: 100%;
  /* background: green; */
  overflow: auto;
  text-align: start;
}

.sidebar-cont {
  /* background: pink; */
  width: 12rem;
  height: 100%;
  padding: var(--sidebar-padding);
  transition: width var(--transition-time);
  z-index: 1000;
}
.sidebar-button {
  height: var(--tab-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.6rem;
  margin-bottom: calc(var(--sidebar-padding) / 2);
  text-align: start;
  overflow: hidden;
  white-space: nowrap;

  .home-text {
    margin-left: 0.5rem;
    padding-top: 0.1rem;
  }
}
/* this might have to go */
.sidebar-button.top {
  width: var(--tab-height);
}
.sidebar-button-label {
  position: absolute;
  height: var(--tab-height);
  background: rgba(255, 255, 255, 0.5);
  margin-top: calc(calc(-1 * var(--tab-height)) - var(--tab-gap));
  margin-left: calc(var(--tab-height) + var(--tab-gap));
  padding: 0rem 0.8rem;
  display: flex;
  align-items: center;

  border-radius: var(--tab-button-corner);
  border: 1px solid grey;
}