.page {
  /* width: 100%;
  height: 100%;
  text-align: start; */
  /* padding: 1.2rem; */

  h2 {
    font-size: 2rem;
  }
  p {
    line-height: 1.16rem;
  }

  --section-padding: 1.2rem;
}
.page > div {
  padding: var(--section-padding);
}
.page p {
  text-wrap: pretty;
}

.title-box {
  /* background: rgba(255, 0, 0, 0.2); */
  position: sticky;
  top: 0;
  height: var(--top-bar-height);
  padding: 1.2rem;
  z-index: 10;
  /* margin-bottom: var(--section-padding); */
  .subtitle-box {
    height: 1rem;
    margin-left: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    .indent-bar {
      background: #f0f0f0;
      width: 0.2rem;
      height: inherit;
      border-radius: 0.25em;
    }
  }
  p {
    font-size: 0.66rem;
  }
}
.pblur-cont {
  /* background: rgba(0, 0, 255, 0.2); */
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  width: 100%;
  height: calc(var(--top-bar-height) * 2);
  pointer-events: none;
}
.pblur-cont > .blur-filter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.pblur-cont > .blur-filter:nth-child(1) {
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 40%
  );
}
.pblur-cont > .blur-filter:nth-child(2) {
  backdrop-filter: blur(3px);
  mask: linear-gradient(
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
}
.pblur-cont > .blur-filter:nth-child(3) {
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 60%
  );
}
.pblur-cont > .blur-filter:nth-child(4) {
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 70%
  );
}
.pblur-cont > .gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#fff, transparent);
}

.image-wrapper {
  width: 100%;
  height: fit-content;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.div-centered {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0;
}
.div-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: var(--section-padding);
  padding-top: 0;
}

.divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
  .div-two-columns {
    display: flex;
    flex-direction: column;
    & div {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
