:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #222;
  background-color: #fefefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* --sidebar-padding;*/
  /* --tab-height; */
  --transition-time: 0.3s;
}

* {
	margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3 {
  font-family:'Instrument Serif', serif;
  font-weight: 800;
  /* letter-spacing: -0.01em; */
}

p, a {
  font-family:'DM Mono', monospace;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-size: 0.82rem;
  line-height: 1.5rem;
}

main {
  flex: auto;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  /* background: yellow; */
}

.main-base {
  /* background: blue; */
  max-width: 1280px;
  max-height: 720px;
  width: min(100vw, 1280px);
  height: min(100vh, 720px);

  display: flex;
  text-align: center;
}
.main-content {
  width: 100%;
  height: 100%;
  /* background: green; */
	overflow: auto;
}

.sidebar-cont {
  /* background: pink; */
  width: 12rem;
  height: 100%;
  padding: var(--sidebar-padding);
  transition: width var(--transition-time);
}
.sidebar-button {
  height: var(--tab-height);
	width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.6rem;
	margin-bottom: calc(var(--sidebar-padding) / 2);
  text-align: start;
  overflow: hidden;
  white-space: nowrap;
}

.landing {
  width: 100%;
  height: 100%;
	display: grid;
	align-items: center;
}

@media (max-width: 639px) {
  /* main {
    padding: calc(var(--layout-padding) / 2);
    gap: calc(var(--layout-padding) / 2);
  } */
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ccc;
    background-color: #1a1a1a;
  }
}
